* {
   box-sizing: border-box;
}

html {
   //defines what 1rem is
   font-size: 62.5%; //1 rem = 10px
   scroll-behavior: smooth;
}

body {
   //font-family: "Open Sans Condensed";
   margin: 0;
   font-size: 1.4rem;
   &.modal__active {
      overflow: hidden !important;
   }
}

h1 {
   font-size: 4.5rem;
}
h2 {
   font-size: 3.2rem;
}
h3 {
   font-size: 2.5rem;
}
h4 {
   font-size: 2rem;
}
h5 {
   font-size: 1.7rem;
}

a {
   text-decoration: none;
   color: black;
}
.main__container {
   padding: 3rem;
}

.content {
   margin-left: 250px;
   transition: margin-left 0.3s;
}

.transition__center {
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
}

.button__2 {
   padding: 0.8rem 1.6rem;
   border: 1px solid var(--color-3);
   background-color: transparent;
   color: var(--color-3);

   transition: all 0.3s;
   &:hover {
      border: 1px solid rgba(#169f95, 0.1);
      background-color: rgba(#169f95, 0.1);
   }
}

.form__1 {
   input[type="password"],
   input[type="text"],
   input[type="email"],
   textarea {
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(245, 245, 245);
      margin-bottom: 12px;
      outline: none;
      width: 100%;

      transition: all 0.25s;
      &:focus {
         border: 1px solid rgba(#169f95, 0.5);
      }
   }

   input[type="submit"],
   input[type="button"] {
      padding: 7px 18px;
      background-color: #3ab595;
      border-radius: 5px;
      color: white;
      cursor: pointer;
   }
}
