:root {
   --color-1: #3ab595;
   --color-2: #169f95;
   --color-3: #08898e;
   --color-4: #1b7381;
   --color-5: #295d6f;
   --color-6: #2f4858;

   --color-slate-1: rgb(248, 250, 252);
   --color-slate-2: rgb(241, 245, 249);
   --color-slate-3: rgb(226, 232, 240);
   --color-slate-4: rgb(203, 213, 225);
   --color-slate-5: rgb(148, 163, 184);
   --color-slate-6: rgb(100, 116, 139);
   --color-slate-7: rgb(71, 85, 105);
   --color-slate-8: rgb(51, 65, 85);
   --color-slate-9: rgb(30, 41, 59);
   --color-slate-10: rgb(15, 23, 42);
}
